/* CARLOS RUBIO STYLES AWESOME
========================================================================= */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot?23886591');
  src: url('../fonts/icons.eot?23886591#iefix') format('embedded-opentype'),
  url('../fonts/icons.woff2?23886591') format('woff2'),
  url('../fonts/icons.woff?23886591') format('woff'),
  url('../fonts/icons.ttf?23886591') format('truetype'),
  url('../fonts/icons.svg?23886591#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?23886591#icons') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-apps:before { content: '\e810'; } /* '' */
.icon-games:before { content: '\e811'; } /* '' */
.icon-imagenes:before { content: '\e812'; } /* '' */
.icon-mistico:before { content: '\e813'; } /* '' */
.icon-musica:before { content: '\e814'; } /* '' */
.icon-tonos:before { content: '\e815'; } /* '' */
.icon-top:before { content: '\e816'; } /* '' */
.icon-urbano:before { content: '\e817'; } /* '' */

/* MAIN STYLES
========================================================================= */
body {
  background: #181848;
  background: -o-linear-gradient(#181848 0%, #000000 100%);
  background: -webkit-linear-gradient(#181848 0%, #000000 100%);
  background: linear-gradient(#181848 0%, #000000 100%);   
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181848', endColorstr='#000000',GradientType=0 );
  color: #fff;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}
header {
  background-color: #181848;
  border-bottom: 1px solid #304878;
  padding: 5px 0;
}
footer {
  padding-top: 15px;
  background-color: #1A1A1A;
  border-top: 1px solid #304878;
}
a, button {
  -webkit-transition: background, color 0.3s linear;
  -moz-transition: background, color 0.3s linear;
  -o-transition: background, color 0.3s linear;
  transition: background, color 0.3s linear;
}
.tyc {
  color: #7890A8;
}
.breadcrumb > li > a {
  color: #F0A818;
}
.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #F0A818;
  content: "/\00a0";
}
.btn:focus {
  outline: none !important;
  outline-offset: none !important;
}
.btn-log {
  background-color: #F0A818;
  width: 60%;
  margin-top: 10px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
}
.btn-log:hover {
  background-color: #fff;
  color: #F0A818;
}
.modal-header {
  background-color: #0C0C24;
}
.modal-content {
  border: 2px solid #0C0C24;
}
.modal-body {
  background-color: #E4E9EE;
}
.modal-body > p {
  color: #181848;
  font-size: 20px;
  padding: 5px;
}
.modal-body > p > span {
  color: #304878;
}
.tab-pane > p {
  color: #000;
  padding: 20px 0;
}
.nav-tabs.nav-justified>li>a {
  border-bottom: none !important;
  border-radius: none !important;
  color: #F0A818;
}
.nav-tabs>li.active>a {
  background-color: transparent !important;
  cursor: pointer;
  font-weight: 500;
  border: none !important;
}
.link {
  color: #F0A818;
  text-decoration: underline;
}
.form-control {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #F0A818;
  color: #F0A818;
}
.serch {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #F0A818;
  color: #F0A818;
  margin-top: 10px;
}
.serch::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #F0A818;
}
.serch::-moz-placeholder { /* Firefox 19+ */
  color: #F0A818;
}
.serch:-ms-input-placeholder { /* IE 10+ */
  color: #F0A818;
}
.serch:-moz-placeholder { /* Firefox 18- */
  color: #F0A818;
}
.logo {
  max-width: 150px;
}
.main {
  background-image: url(../img/patron.png);
  min-height: 100vh;
}
.breadcrumb {
  background-color: transparent !important;
}

.carousel-indicators {
  z-index: 2 !important;
}
/*Menu mobil*/
.botonMobil {
  background: transparent;
  border: 0;
  outline: 0;
  position: absolute;
  right: 20px;
  top: 60px;
  z-index: 4;
  display: none;
  transition: all .7s ease-in-out;
}
.icon-close:before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00d";
  font-size: 30px;
}
.mobilMenu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: -100vw;
  background-color: rgba(24,24,72,0.95);
  z-index: 3;
  transition: all .7s ease-in-out;
}
.mobilMenu:hover{
  border: 0;
  outline: 0px;
  color: #F0A818;
}
.mobilMenu.active {
  left: 0;
  transition: all .7s ease-in-out;
}
.mobilMenu ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
.mobilMenu ul li {
  display: block;
  padding: 7px 20px;
}
.mobilMenu ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
.mobilMenu ul li a i {
  margin-right: 15px;
  font-size: 25px;
}
/* Home styles
========================================================================= */
.heading {
  color: #fff;
  font-weight: 100;
}
.heading span {
  color: #F0A818;
}
.item {
  background-color: #F0A818;
  margin-bottom: 20px;
  position: relative;
}
.item-tittle {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  padding-top: 6px;
}
.icon {
  position: relative;
  background-size: cover;
  background-position: center;
  min-height: 200px;
  -webkit-transition: filter 0.3s linear;
  -moz-transition: filter 0.3s linear;
  -o-transition: filter 0.3s linear;
  transition: filter 0.3s linear;
}
.iconMusica {
  background-image: url(../img/musica.png);
}
.iconJuegos{
  background-image: url(../img/juegos.png);
}
.iconApps {
  background-image: url(../img/apps.png);
}
.iconImagenes{
  background-image: url(../img/imagenes.png);
}
.iconTonos{
  background-image: url(../img/mistico.png);
}
.iconImagenes{
  background-image: url(../img/amor.png);
}
.iconGraf{
  background-image: url(../img/graffitis.png);
}
.iconTop{
  background-image: url(../img/top.png);
}
.top {
  left: 39% !important;
}
.top i {
  margin: 0 45px;
}
.icon:hover {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}
.icon-link {
 color: #fff;
 font-size: 50px;
 position: absolute;
 display: block;
 text-align: center;
 width: 100%;
 top: 40%;
 z-index: 2;
 -webkit-transition: text-shadow 0.2s linear;
 -moz-transition: text-shadow 0.2s linear;
 -o-transition: text-shadow 0.2s linear;
 transition: text-shadow 0.2s linear;
}
.icon-link:hover {
  color: #fff;
  text-shadow: 5px 5px 1px rgba(255, 255, 255, 0.30);
}
.item:hover > .icon {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

/* SIDE BAR STYLES
========================================================================= */
.filters {
  margin-top: -10px;
}
.Musica {
  background-image: url(../img/musica.png);
}
.Juegos{
  background-image: url(../img/juegos.png);
}
.Apps{
  background-image: url(../img/apps.png);
}
.Tonos{
  background-image: url(../img/tonos.png);
}
.descargas{
  background-image: url(../img/top.png);
}
.headingSide {
  background-position: center;
  background-size: cover;
  min-height: 100px;
  padding-top: 20px;
}
.headingSide > h2 {
  text-align: center;
}
.panel-default {
  border-color: transparent;
}
.panel-default>.panel-heading {
  color: #fff;
  background-color: #7890A8;
  border: none;
}
#headingOne {
  background-color: #F0A818;
}
.panel-heading {
  border-bottom: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 10px 15px;
  text-align: center;
}
.panel-title > a:hover, .panel-title > a:active {
  text-decoration: none;
}
.panel-group .panel+.panel {
  margin-top: 0px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0px;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-body ul {
  padding-left: 3px;
}
.panel-body > ul > li {
  list-style: none;
  padding: 5px 0;
}
.panel-body > ul > li > a {
  color: #7890A8;
  font-size: 15px;
}
.panel-body > ul > li > a:hover {
  color: #F0A818;
  text-decoration: none;
}
.table-striped>tbody>tr {
  border: none;
  background-color: #fff;
}
.table-striped>tbody>tr:nth-of-type(odd) { 
  background-color: #E6EAED; 
}
.table-striped>tbody>tr>th>i {
  color: #F0A818;
}
.table-striped>tbody>tr>th>a>i {
  color: #F0A818;
  -webkit-transition: background, color 0.3s linear;
  -moz-transition: background, color 0.3s linear;
  -o-transition: background, color 0.3s linear;
  transition: background, color 0.3s linear;
}
.table-striped>tbody>tr>th>a:hover i {
  cursor: pointer;
  color: #181848;
}
.table-striped>tbody>tr>th {
  color: #1A1A1A;
  font-weight: 200;
}

#lightgallery > li {
  margin-bottom: 10px;
}
#lightgallery>li>a>img {
  border: 2px solid #fff;
}
#lightgallery>li>a>i {
  background-color: #f0a818;
  border-radius: 25px;
  color: #fff;
  opacity: 0;
  left: 40%;
  padding: 8px; 
  position: absolute;
  top: 44%;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#lightgallery>li>a:hover i {
  opacity: 1;
}
th .img-responsive {
    min-height: 60px;
    min-width: 60px;
    margin: 0 auto;
  }
/* RESPONSIVE
========================================================================= */


/* Móviles en horizontal o tablets en vertical
------------------------------------------------------------------------- */

@media (max-width: 768px) {
  h1 {
    font-size: 27px;
  }
  .item {
    display: block;
  }
  .item-tittle {
    font-size: 16px;
  }
  .icon {
    min-height: 100px;
  }
  .icon-link {
    font-size: 30px;
  }
  .btn-log {
    width: 100%;
  }
  .content h2 {
    text-align: center;
  }
  .demo-gallery {
    padding: 0 15px;
  }
  .botonMobil {
    display: block;
  }
  th {
    display: block;
    text-align: center;
    border-top: 0!important;
  }
}


/* Tablets en horizonal y escritorios normales
------------------------------------------------------------------------- */

@media (min-width: 1024px) {}


/* Escritorios muy anchos
------------------------------------------------------------------------- */

@media (min-width: 1200px) {}